<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Синонимы</title>
</head>
<body>
    <form method="get">
		<!-- Запросим у пользователя ввести слово. -->
		<input type="text" name="word" placeholder="Введите слово...">
        <button>Найти</button>
	</form>
	<!-- Ниже будет список синонимов. -->
	<h3>Значения и синонимы к слову "{{ word }}":</h3>
    <h4>{{ info_1 }}</h4>
    <h4>{{ info_2 }}</h4>
    {% for syn in syn_list %}
    <span>{{ syn.tr }}</span><br>
        <ul>
            {% for text in syn.syn %}
                <li>{{ text.text }}</li>
            {% endfor %}
        </ul>

    {% endfor %}

</body>
</html>